body{
    width: 1920px;
    height: 1080px;
    background:black;
    font-family: 'Bitter', serif;/*  */
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    perspective: 200px;
    transform-style: preserve-3d;
}
.bgvideo{
    margin:0 ;
    position:fixed;
    z-index: -1;
}
/* typewrite */
.type{
    position: relative;
    top: 50%;
    left: 20%;
    width: 42rem;
    color: rgb(1, 238, 255);
    font-size: 2rem;
    padding: 0;
    z-index: 1;
    top: 10rem;
    border-right: 2px solid rgb(1, 238, 255);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   
}
.type p{
    text-align: center;
}
.anim{
    animation: 
    move 5s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes move{
    0%{
        width: 0;
        
    }
    90%{
        width: 42rem;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
   
}
@keyframes blinkTextCursor{
    from{
        border-right: 2px solid rgb(6, 186, 231);
    }
    to{
        border-right: transparent;
    }
}

.type p{
    margin: 0;
    padding: 0;
} 

/* logo */

img{
    margin:0 auto;
    position: relative;
    top: 5rem;
    left: 20rem;
    animation: logochange 12s linear forwards 1;
    animation-delay: 7s; 
    opacity: 0;
    
}
 @keyframes logochange{
    0%{
        opacity:0;
        transform-origin: center;
        transform: scale(2);
    }
    2%{
        opacity: 1;
        transform-origin: center;
        transform: scale(1.5) rotateX(0);
    }
    80%{
        transform: scale(0.5) rotateX(0);
        opacity: 1;
    }
    100%{
        transform: scale(0) translateX(0);
        opacity: 0;
    }
} 


/* star wars crawl */
h2{
    text-align: center;
}

.text{
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color:rgb(1, 238, 255);
    font-size: 1rem;
    text-align:center;
    position: fixed;
   
    transform: rotateX(20deg) translateY(600px);
    animation: animate 14s ease-out 1;
    animation-delay: 11s;
}

@keyframes animate{

    from { transform: rotateX(20deg) translateY(600px); }
    to { transform: rotateX(20deg) translateY(-400px); }
}
  



